# Sample Queries

This notebook contains code to sample queries from the original MSMARCO ranking dataset.
(https://msmarco.blob.core.windows.net/msmarcoranking/collectionandqueries.tar.gz)

The original dataset contains 808731 queries. For my thesis I will sample 1% of these queries.

In [1]:
import pandas as pd
import numpy as np

In [2]:
msmarco_dir = "../data/msmarco_files/"
output_dir = "../data/output/"

In [3]:
queries_train = pd.read_csv(msmarco_dir + 'queries.train.tsv',delimiter='\t',encoding='utf-8', header=None)

In [4]:
queries_train.shape

(808731, 2)

In [5]:
sample_queries_train = queries_train.sample(frac=0.01, random_state=123).copy()

In [6]:
sample_queries_train.shape

(8087, 2)

In [7]:
sample_queries_train.head(5)

              0                                                  1
616499   413367                     is it a footlong and them some
76637    227324  how does protein differ from carbohydrates and...
764456  1024124                                 who are the druze?
353626   491131                             safeway contact number
268350   111843               counselor + per diem contract sample

In [8]:
sample_queries_train.to_csv(output_dir + "queries.train.subset.tsv",sep="\t", header=False,index=False)